---
---

@import "minima";
@import "css/native.css";

/*Colors:
Dark_S: rgb(55,55,61);
Dark_M: rgb(37,37,38);
Dark_L: rgb(30,30,30);
Blue_S: rgb(124,220,254);
Blue_M: rgb(12,125,157);
Grey_S: rgb(204,204,204);
Grey_M: rgb(133,133,133);
*/

body,
header,
footer {
  background-color: #1e1e1e;
  color: #cccccc;
  font-family: "Open Sans", sans-serif;
  background: url(images/noisy.png) repeat 100px 100px;
}

.site-header,
.site-footer {
  border-color: #252526;
}

h1,
h2,
h3,
h4,
h5,
h5 {
  color: #7cdcfe;
}

a,
a:visited,
.site-title,
.site-title:visited,
.site-nav,
.site-nav:visited,
.page-link,
.page-link:visited {
  color: #7cdcfe;
}

a:hover,
.site-title:hover,
.site-nav:hover,
.page-link:hover {
  color: #cccccc;
}

.svg-icon,
svg {
  fill: #cccccc;
}

img {
  border-radius: 10px;
  margin: 5px;
  box-shadow: 0px 0px 5px 0px #37373d;
  image-rendering: auto;
}

.img_pic_about {
  width: 35%;
  height: 35%;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 5px 0px #37373d;
}

pre,
code {
  font-size: 15px;
  color: #cccccc;
  border: 1px solid #37373d;
  border-radius: 3px;
  background-color: #252526;
}

.highlight pre {
  background-color: #252526;
}

blockquote {
  color: #959595;
  border-left: 3px solid #37373d;
}

.post-meta {
  color: #909090;
}

table {
  margin-bottom: $spacing-unit;
  width: 100%;
  text-align: $table-text-align;
  color: lighten(#cccccc, 18%);
  border-collapse: collapse;
  border: 1px solid #37373d;
  tr {
    &:nth-child(even) {
      background-color: lighten(#37373d, 6%);
    }
  }
  th,
  td {
    padding: ($spacing-unit / 3) ($spacing-unit / 2);
  }
  th {
    background-color: lighten(#37373d, 3%);
    border: 1px solid darken(#37373d, 4%);
    border-bottom-color: darken(#37373d, 12%);
  }
  td {
    border: 1px solid #37373d;
  }
}
